<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Biography for my mother, Norma</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Memories</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </div>
    <h1 style="text-align: center;">To my mother, Norma Noemi Rodriguez Ruiz, I love you forever</h1>
    <h3 style="text-align: center;">To those who knew Norma felt how much of a loving person she was and how much she cared for those close to her. The amount of things and stories i would love to share with you would be so long but instead I'm making this to allow you and others to read all the memories everyone had and share your favorite memories you might have and wan to share. My mother loved keeping photos and being able to share those memories with others and i want to keep that tradition alive and going in a new way .So this is why this website is dedicated to her, from her son Anthony.</h3>
    <h3 style="text-align: center;">Norma Noemi Rodriguez Ruiz passed away on May 13, 2021, at the age of 53.  She was born in El Salvador on September 20, 1967, to Jose Antonio Carranza and Ana Gomez Perez.

    Norma worked as a Certified Nursing Assistant with Christus Santa Rosa- San Marcos for 26 years.  She enjoyed her work, loved to shop, enjoyed visiting and running errands with her mother, and spending time with her kids and her granddaughter.  She liked to travel to California and El Salvador, and anywhere there is a beach.  She was an incredible sister and loved her nieces and nephews very much. 
    
    She is survived by her husband of 15 years, Carlos Andres Ruiz; her mother, Ana Perez; her father, Jose Antonio Carranza; her sons, Garry Lee Avila, Leiver Anthony Avila and Max Raphael Avila; her daughter, Mary Beth Avila; her brother, Frank Omar Rodriguez; her sisters, Elsa Marina Rodriguez, Teresa Margarita Rivas, and Rubidia Marisol Trejo; and her granddaughter, Emiliana Grace Avila.</h3>
    <h3></h3>
    <div class="usPic">
        <img src="/BioApp/static/images/MomandUs.jpeg" alt="My mom and her children" style="max-height: 1000px;">
    </div>
</body>