<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>The Memories</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/memories/">Memories</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/logReg/">Login</a></li>
            </ul>
        </nav>
    </div>
    <h2 style="text-align: center;">Memories of Norma</h2>
    <h3 style="text-align: center;">To continue the tradition my mother enjoyed, please free to add picture of Norma that you may have or even comment down on one of the current ones and express how much she effected your life in a positive way.</h3>
    <div class="pictures">
        <img src="/BioApp/static/images/Mom1.jpeg" alt="Mom photo 1" style="max-height: 250px;">
        <img src="/BioApp/static/images/Mom2.jpeg" alt="Mom photo 2" style="max-height: 250px;">
        <img src="/BioApp/static/images/Mom3.PNG" alt="Mom photo 3" style="max-height: 250px;">
        <img src="/BioApp/static/images/Mom4.JPG" alt="Mom photo 4" style="max-height: 250px;">
        <img src="/BioApp/static/images/Mom5.JPG" alt="Mom photo 5" style="max-height: 250px;">
        <img src="/BioApp/static/images/Mom6.jpeg" alt="Mom photo 6" style="max-height: 250px;">
        <img src="/BioApp/static/images/Mom7.jpeg" alt="Mom photo 7" style="max-height: 250px;">
    </div>
    <form action="/createMemories/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="docfile" required>
        <button>Add a memory!</button>
    </form>
    {% for document in documents reversed %}
    <section>
        <img src="{{ document.docfile.url }}" alt="Img" style="max-width: 300px;">
    </section>
    {% endfor %}
</body>
</html>