<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Biography for my mother, Norma</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="memories/">Memories</a></li>
                <li><a href="about/">About</a></li>
                <li><a href="logReg/">Login</a></li>
            </ul>
        </nav>
    </div>
    <form action="/memories/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="docfile" required>
        <button>Upload</button>
    </form>
    {% for document in documents reversed %}
    <section>
        <img src="{{ document.docfile.url }}" alt="Img">
    </section>
    {% end for %}
</body>