body{
    background-color: #bd7ef0;
    background-image: url('/BioApp/static/images/tileable-wood\ \(1\).png');
}
.mePic{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.usPic{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.container{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pictures{
    flex-wrap: wrap;
    justify-content: space-around;
}