body{
    background-color: #bd7ef0;
    background-image: url('/BioApp/static/images/tileable-wood\ \(1\).png');
    padding: 50px;
    margin: 5px;
}
.navbar{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
h4{
    padding: 10px;
}
ul *{
    text-decoration: none;
    display: flex;
}
.mePic{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.usPic{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
.container{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pictures{
display: inline;
justify-content: center;
align-items: center;
}
section.img{
    max-width: 200px;
}